@font-face {
    font-family: "Avenir";
    font-weight: 400;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
  }
  
  @font-face {
    font-family: "Avenir";
    font-weight: 700;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
  }
  
  @font-face {
    font-family: "Avenir";
    font-weight: 600;
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
  }
  