//Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


//Primary Colors
$silver: #AFAFAF;
$brainFlix-blue: #0095FF;
$white: #FFFFFF;
$brainFlix-black: #323232;

//Secondary Colors
$mercury: #E1E1E1;
$brainFlix-darkBlue: #0065AD;
$brainFlix-darkBlack: #000000;
$alabaster: #FAFAFA;


