@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      padding: 0 2.25rem;
    }

    @include desktop {
      justify-content: space-between;
      padding: 0 5rem;
    }
  }

  &__logo {
    align-self: center;
    height: 2rem;

    @include tablet {
      height: 100%;
    }
  }

  &__mohanImg {
    position: absolute;
    top: 0;
    right: 1.5rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    @include tablet {
      top: 1.25rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;

    @include tablet {
      right: 0;
      width: 70%;
      flex-direction: row;
      justify-items: end;
      align-items: center;
      padding: 1rem;
    }

    @include desktop {
      width: 50%;
    }
  }

  &__searchField {
    border: 1px solid $mercury;
    border-radius: 0.25rem;
    outline: 0;
    padding: 0.5rem 0.25rem 0.5rem 2.5rem;
    background: transparent url("/icons/search.svg") no-repeat 1rem;
    background-color: $alabaster;
    width: 80%;
    height: 100%;
    resize: none;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 40%;
    }
  }

  &__uploadButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      width: 30%;
    }
  }
}
