@use "../../styles/partials/mixins" as *;

.video {
  &__Image {
    width: 100%;
    height: fit-content;
    @include tablet {
      padding: 0 1rem;
      background-color: black;
    }

    @include desktop {
      padding: 0 10rem;
    }
  }
}
