@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments { 
  &__addCommentWrapper{
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
  }

  &__addComment{
    display:flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
  }

  &__Img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }

  &__AnonymImg{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: $silver;
    margin-top: 1rem;
  }
    
  &__commentCard {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  &__commentCardWrapper {
    display: flex;
    gap: 1rem;
    border-top: 1px solid $mercury;
  }

  &__commentedNameTimeWrapper {
    display: flex;
    justify-content: space-between;
  }

  &__commentedName {
    font-weight: 600;
  }

  &__commentedTime {
    color: $silver;
  }

  &__commentImg {
    background-color: $silver;
    align-self: start;
    margin-top: 1.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }

  }
}