@use "./styles/main.scss";
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;


.app {
  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      padding: 0 2.25rem;
    }

    @include desktop {
      flex-direction: row;
      padding: 0 5rem;
    }
  }

  &__videoDetails {
    @include desktop {
      max-width: 65%;
    }
  }
}

button {
  background-color: $brainFlix-blue;
  color: $white;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;

}
