@use "./styles/main.scss";
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;

.app {
  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      padding: 0 2.25rem;
    }

    @include desktop {
      flex-direction: row;
      padding: 0 5rem;
    }
  }

  &__videoDetails {
    padding: 1rem;
    @include desktop {
      max-width: 65%;
    }
  }
}


